body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #333;
}

img {
	border: none;
}

ul li,
ol li {
	list-style: none;
}

i,
em {
	font-style: normal;
}

h1,
h2,
h4,
h5,
h3 {
	font-weight: normal;
}

body {
	font-family: "微软雅黑";
	font-size: 12px;
}

a:hover {
	text-decoration: underline;
}

.clearfix:after {
	content: "";
	display: block;
	font-size: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	clear: both;
}

.fl {
	float: left;
}

.fr {
	float: right;
}