@charset "utf-8";
*{
    margin: 0 auto;
}
.big{
    width: 790px;
    height: 488px;

}
.big .big-top{
    width: 790px;
    height: 57px;
    line-height: 57px;
    background-color: #2F2F2F;
    color: white;
}
.big .big-top .big-top-left{
    float: left;
    margin-left: 20px;
}
.big .big-top .big-top-right{
    float: right;
    font-size: 24px;
    color: darkgray;
    margin-right: 20px;
}
.big .big-bottom{
    width: 790px;
    height: 432px;
}
.big .big-bottom .big-bottom-left{
    width: 334px;
    height: 307px;
    float: left;
    border-right: 1px solid gray;
    margin-top: 60px;
    margin-left: 60px;
    padding-right: 60px;
}
.big .big-bottom .big-bottom-left img{
    margin-left: 13px;
    margin-bottom: 20px;
}
.big .big-bottom .big-bottom-left .btn1,.btn2{
    width: 335px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 15px;
}
.big .big-bottom .big-bottom-left .btn1:hover,.btn2:hover{
    background-color: #3582CE;
    color: white;
}
.big .big-bottom .big-bottom-right{
    float: left;
    position: relative;
}
.big .big-bottom .big-bottom-right ul{
    margin-top: 80px;
    margin-left: 111px;
}
.big .big-bottom .big-bottom-right ul li{
    list-style: none;
    margin-bottom: 60px;
}
.big .big-bottom .big-bottom-right ul li a{
    color: black;
    text-decoration: none;
}
.big .big-bottom .big-bottom-right .img1{
    position: absolute;
    top: 60px;
    left: 60px;
}
.big .big-bottom .big-bottom-right .img2{
    position: absolute;
    top: 145px;
    left: 60px;
}
.big .big-bottom .big-bottom-right .img3{
    position: absolute;
    top: 225px;
    left: 60px;
}
.big .big-bottom .big-bottom-right .img4{
    position: absolute;
    top: 305px;
    left: 60px;
}
