@charset "utf-8";

.big {
    width: 790px;
    height: 488px;
    margin: 0 auto;
}

.big .big-top {
    width: 790px;
    height: 57px;
    line-height: 57px;
    background-color: #2F2F2F;
    color: white;
    margin: 0;
}

.big .big-top .big-top-left {
    float: left;
    margin-left: 20px;
}

.big .big-top .big-top-right {
    float: right;
    font-size: 24px;
    color: darkgray;
    margin-right: 20px;
}

.big .big-bottom {
    width: 790px;
    height: 432px;
}

.big .big-bottom .big-bottom-left {
    width: 334px;
    height: 307px;
    margin: 20px auto;
}

.big .big-bottom .big-bottom-left img {
    margin-left: 13px;
    margin-bottom: 20px;
}

.big .big-bottom .big-bottom-left .btn1,
.btn2 {
    width: 335px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid gray;
    margin-top: 15px;
    background-color: #F8F8F8;
}

.big .big-bottom .big-bottom-left .btn1 a,
.btn2 a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: block;
}

.big .big-bottom .big-bottom-left .btn1:hover,
.btn2:hover {
    background-color: #3582CE;
}

.big .big-bottom .big-bottom-left a:hover {
    color: white;
}