a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.page-header {
    font-size: 16px;
    line-height: 28px;
}

.page-header>span {
    font-size: 20px;
    vertical-align: middle;
}

.glyphicon-music {
    color: rgb(10, 210, 60);
}

#input {
    width: 300px;
    font-size: 16px;
    vertical-align: middle;
    padding-left: 5px;
    outline: none;
}

#search {
    color: rgb(190, 10, 10);
    font-size: 16px;
    height: 36px;
}

button {
    outline: none;
}