@charset "utf-8";

#main {
    table-layout: fixed;
}

.half-left {
    width: 30%;
}

.half-right {
    width: 70%;
}

.half-right img {
    float: left;
    margin: 20px;
    height: 120px;
    width: 120px;
}

.half-right>div {
    float: left;
}

.half-right>div>h2>span {
    font-size: 16px;
    cursor: pointer;
}

#btn,
.half-right>div>p {
    font-size: 12px;
}

.left-ul {
    list-style: none;
    padding: 0;
}

.left-ul li {
    width: 100%;
    float: left;
}

.list-pic {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url(../img/images/c_06.jpg);
    background-size: contain;
}

.list-content {
    float: left;
    height: 40px;
    margin: 5px 0;
}

.list-content:hover {
    cursor: pointer;
}

.list-content>p {
    margin: 0;
    height: 20px;
    line-height: 12px;
    font-size: 12px;
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#song-list {
    margin: 0;
    padding: 0;
    width: 100%;
}

#song-list dt {
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
    margin: 0;
}

#song-list dd {
    padding-left: 20px;
    margin: 0;
}

#song-list dd p {
    float: left;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

#song-list dd p.operation {
    width: 100px;
}

#song-list dd p.operation span {
    cursor: pointer;
}

#song-list dd p.player {
    text-align: center;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#song-list dd p.song-name {
    text-align: center;
    float: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}