@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure,figcaption{margin:0;padding:0;}
section,article,aside,header,footer,main,nav,hgroup{display:block;}
a,u{text-decoration:none;}
em,i{font-style:normal;}
b,strong{font-weight:normal;}
ul,ol,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:normal;}
body{font-family: "微软雅黑"}
input{outline:none;}
img{border:0;display:block;}
.clear-fix:after{content: "";visibility: hidden;overflow: hidden;height: 0;clear: both;display: block;}

/* 导航栏 */
.nav{
    width: 100%;
    height: 34px;
    background: #C20C0C;
    border-bottom: 1px solid #a40011;
}
.navIn{
    width: 920px;
    height: 34px;
    margin: 0 auto;
    padding-left: 180px;
}
.navIn em{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 13px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    margin: 7px 17px 0;
}
.navIn em:hover{
    background: rgb(155, 9, 9);
    border-radius: 10px;
}
/* 轮播图 */
.swiper{
    height: 336px;
    width: 1100px;
    margin: 0 auto;
    background: orange;
}
.swiperLi{
    height: 336px;
    width: 984px;
    margin: 0 auto;
    position: relative;
}
.swiperLi .leftBtn{
    position: absolute;
    width: 38px;
    height: 64px;
    background: url(../img/sj-img/banner.png) no-repeat top -360px left 0;
    top: 50%;
    margin-top: -32px;
    left: -58px;
}
.swiperLi .leftBtn:hover{
    background: url(../img/sj-img/banner.png) no-repeat top -430px left 0;
    cursor: pointer;
}
.swiperLi .rightBtn{
    position: absolute;
    width: 38px;
    height: 64px;
    background: url(../img/sj-img/banner.png) no-repeat top -508px left 0;
    right: -58px;
    top: 50%;
    margin-top: -32px;
}
.swiperLi .rightBtn:hover{
    background: url(../img/sj-img/banner.png) no-repeat top -578px left 0;
    cursor: pointer;
}
.box{
    width: 730px;
    height: 336px;
    overflow: hidden;
    float: left;
    position: relative;
}
.box .tipsBox{
    position: absolute;
    width: 144px;
    height: 10px;
    left: 50%;
    margin-left: -72px;
    bottom: 10px;
}
.box .tipsBox p{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
    float: left;
    margin-left: 6px;
    cursor: pointer;
}
.box .imageBox{
    height: 336px;
    width: 9999px;
    position: absolute;
}
.box ul li{
    float: left;
}
.download{
    width: 254px;
    height: 336px;
    float: left;
    background: url(../img/sj-img/download.jpg) no-repeat;
}
.box .tipsBox .active{
    background: #a40011;
}
/* 内容区 */
.con{
    width: 100%;
    min-height: 800px;
    background: #f5f5f5;
    border-bottom: 1px solid #d3d3d3;
}
.content{
    width: 982px;
    margin: 0 auto;
    min-height: 800px;
    background: white;
}
.content .conLeft{
    width: 729px;
    height: 800px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    float: left;
    background: rgb(255, 160, 176);
}
.content .conLeft .leftTop{
    width: 689px;
    height: 523px;
    background: #C20C0C;
    margin: 0 auto;
}
.content .conRight{
    float: right;
}
/* 尾部 */
.tail{
    height: 100px;
    width: 100%;
    background: #f2f2f2;
}